/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-apr-2020, 15.09.50
    Author     : jpoll
*/


body{
    background-image:url(./img/vivaio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin-left: 40%; 
    margin-right: 40%; 
    margin-top: 5%; 
    color: #ff33bb; 

}


.form{
    background-color: white;
    border: 4px solid #ff33bb;
    border-radius: 20px;
    font-family: Apple Chancery, cursive;

}

.home_button{

    margin-bottom: 2%;

}


.button {

    color: #ff33bb;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 6px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

.button1 {
    background-color: white; 
    border: 2px solid #ff33bb;
}

.button1:hover {
    background-color: #ff33bb;
    color: white;
}
